PORT=3000

# Postgres (Post-Auction private DB)
PGHOST=
PGPORT=5432
PGDATABASE=post_auction_service
PGUSER=postgres
PGPASSWORD=

# Kafka / Confluent Cloud
KAFKA_BROKERS=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_GROUP_ID=post-auction-service
KAFKA_CLIENT_ID=post-auction-service
